.contact-us-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: "flex-end";
  align-items: "center";
}

.contact-us-container .google-map {
  width: 100%;
  height: 500px;
  position: absolute;
}
