.body {
  padding: 0;
  margin: 0;
}

.text {
  position: absolute;
  right: 15%;
  top: 230px;
  text-align: end;
}

.text h1 {
  color: white;
  font-size: 100px;
  margin-bottom: 0px;
}

.text h1 span {
  color: #ffca00;
  font-size: 100px;
  margin-bottom: 0px;
}

.text p {
  color: white;
  font-size: 24px;
  margin-top: 0px;
}

.text button {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  background-color: transparent;
  color: white;
  padding: 15px;
  font-size: 20px;
}

.text button:hover {
  background-color: #ffca00;
  transition: 0.3s;
  color: white;
  border: none;
}
