.vehicle-search-container {
  display: flex;
  margin-top: -70px;
}

.vehicle-search-container form {
  margin-top: 100px;
  display: flex;
  top: 100px;
  margin-left: 10%;
  flex-wrap: wrap;
}

.vehicle-search-container form .car-input {
  margin-right: 50px;
}

select {
  width: 180px;
  height: 40px;
  padding: 10px;
  color: gray;
}

@media only screen and (max-width: 900px) {
  .vehicle-search-container form {
    margin-top: 0px;
  }

  .vehicle-search-container form .car-input {
    margin-top: 20px;
  }
}
