.vehicle-container {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 14px 0px rgba(0, 0, 0, 0.6);
  padding: 10px;
  cursor: pointer;
}

.vehicle-container .vehicle-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 600;
}

.vehicle-container .vehicle-header .star-div {
  background-color: rgba(255, 255, 131, 0.515);
  padding: 1.5px;
  cursor: pointer;
}

.vehicle-container .vehicle-header .star-div img {
  width: 20px;
  height: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.vehicle-container img {
  width: 100%;
  height: 230px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.vehicle-container .vehicle-footer {
  text-align: start;
}

.vehicle-container .vehicle-footer .vehicle-stats {
  display: grid;
  grid-template-columns: 50% 50%;

  row-gap: 3px;
}

.vehicle-container .vehicle-footer .vehicle-stats p {
  font-size: 15px;
}

.vehicle-container .vehicle-footer .vehicle-footer-price {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vehicle-container .vehicle-footer .vehicle-footer-price button {
  background-color: #ffca00;
  color: white;
  border-width: 0px;
  border-radius: 5px;
  padding: 8px;
  font-size: 18px;
}

.vehicle-container .vehicle-footer .vehicle-footer-price h6 {
  font-size: 18px;
}
