.about-us-container {
  display: flex;
  width: 100%;
  align-items: center;
}

.left-image {
  width: 60%;
  text-align: center;
}

.right-text {
  width: 40%;
}

@media only screen and (max-width: 1000px) {
  .about-us-container {
    flex-direction: column;
    align-items: center;
  }

  .left-image {
    width: 70%;
  }

  .left-image img {
    width: 100%;
  }

  .right-text {
    width: 100%;
  }
}
