.adventages-layout-container {
  background: #f8f4d9;
  padding: 20px;
  padding-bottom: 80px;
}

.adventages-layout-container h6 {
  text-align: center;
  font-size: 15px;
  font-weight: 350;
  margin-bottom: 0px;
}

.adventages-layout-container h4 {
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  margin-top: 10px;
}

.adventages-cards {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .adventages-cards {
    flex-direction: column;
    align-items: center;
  }
}
