.footerlayout-container {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 0px 30px;
}

.footerlayout-container .info {
  width: 15%;
  margin-top: 0px;
  padding-top: 50px;
}

.footerlayout-container .info p {
  font-size: 12px;
}

.footerlayout-container .info1 img {
  width: 250px;
  height: 80px;
}

.footerlayout-container .info1 p {
  margin-top: 20px;
  color: #bdbdbd;
}

.footerlayout-container .info2 h6 {
  margin-top: 0px;
}

.footerlayout-container .info2 ul {
  padding: 0;
}

.footerlayout-container .info2 h6 {
  color: #ffca00;
  margin-bottom: 0px;
  font-size: 13px;
  margin-top: 7px;
}

.footerlayout-container .info2 h4 {
  margin-top: 0px;
  color: black;
  font-size: 24px;
  margin-bottom: 35px;
}

.footerlayout-container .info2 h5 {
  font-size: 16px;
  margin-bottom: 0px;
}

.footerlayout-container .info2 li {
  list-style: none;
  display: flex;
  align-items: center;
  color: #bdbdbd;
  margin-bottom: 0px;
  margin-top: 10px;
}

.footerlayout-container .info2 img {
  width: 15px;
  height: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.footerlayout-container .info2 li p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footerlayout-container .info2 .see-map-btn {
  background-color: #ffca00;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 40px;
}

.footerlayout-container .info2 .see-map-btn img {
  width: 40px;
  height: 30px;
  margin-left: 12px;
}

.footerlayout-container .info2 .see-map-btn p {
  margin-right: 12px;
  font-size: 14px;
  font-weight: 600;
}

.footerlayout-container .last {
  margin-bottom: 100px;
}

@media only screen and (max-width: 1100px) {
  .info1 {
    display: none;
  }

  .last {
    display: none;
  }

  .footerlayout-container {
    text-align: center;
  }

  .footerlayout-container .info {
    width: 25%;
  }
}

@media only screen and (max-width: 700px) {
  .footerlayout-container {
    flex-direction: column;
    align-items: center;
  }

  .footerlayout-container .info {
    width: auto;
  }

  .footerlayout-container .info2 h6 {
    font-size: 11px;
  }

  .footerlayout-container .info2 h4 {
    font-size: 20px;
  }

  .footerlayout-container .info2 h5 {
    font-size: 13px;
  }

  .footerlayout-container .info p {
    font-size: 10px;
  }
}
