.loading-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#circular-progress {
  margin-top: 10px;
  margin-bottom: 10px;
}

.vehicles-list {
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 370px 370px 370px;
  align-items: center;
  justify-content: space-evenly;
  grid-row-gap: 50px;
}

@media only screen and (max-width: 1500px) {
  .vehicles-list {
    grid-template-columns: 370px 370px;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 860px) {
  .vehicles-list {
    grid-template-columns: 370px;
    justify-content: space-evenly;
  }
}
